# Attend needs the following environment variables:
#
# - SECRET_TOKEN: the rails secret token
# - IMPORT_URL: the url with student info (JSON)
# - IMPORT_USERNAME: authentication for import url
# - IMPORT_PASSWORD: authentication for import url

SECRET_TOKEN=
IMPORT_URL=
IMPORT_USERNAME=
IMPORT_PASSWORD=
