<section>
  <header><h2>Comments</h2></header>

  <% @student.comments.each do |comment| %>
  <ul data-role="listview" data-inset="true">
	 <li>
		<h2><%= comment.author.uvanetid %></h2>
		<div class="ui-li-aside"><strong><%= comment.created_at %></strong></div>
		<p><%= comment.body %></p>
	 </li>
  </ul>
  <% end %>
</section>
