// Place all the styles related to the attendance controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar
{
	margin-bottom:0 !important;
}

.navbar .navbar-text
{
/*	float:none;*/
}

.navbar .btn
{
	smargin-left:15px;
	smargin-right:5px;
}

.navbar .form-group, .navbar input
{
	display:block !important;
}

.list-group-item
{
	min-height:55px;
}

@media (max-width: 767px)
{
	.navbar-form
	{
		margin:0 !important;
	}

	.navbar-form .form-group
	{
		margin-bottom:0 !important;
	}

	.student-entry
	{
		text-align: center;
	}

	.student-entry h4
	{
		padding-bottom: 5px;
	}
}

@media (min-width: 768px)
{
	 .student-functions
	 {
		  float: right;
	 }
}

.axis text {
  font: 10px sans-serif;
}

/* charts */
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
  fill-opacity: .9;
}

.x.axis path {
  display: none;
}

.grid .tick {
	 stroke: lightgrey;
}

.grid path {
	 stroke-width: 0;
}