// Place all the styles related to the attendance controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.attendance-indicator fieldset
{
	 display: inline-block;
}

@media all and (max-width: 550px)
{
	 .attendance-list-breakpoint.ui-grid-a .ui-block-a,
	 .attendance-list-breakpoint.ui-grid-a .ui-block-b
	 {
		  width: 100%;
		  text-align: center;
		  float: none;
		  clear: left;
	 }
}

@media all and (min-width: 550px)
{
	 .attendance-list-breakpoint.ui-grid-a .ui-block-a
	 {
	 	  line-height: 38px;
	 }

	 .attendance-list-breakpoint.ui-grid-a .ui-block-b
	 {
		  float: right;
		  width: auto;
	 }
}