// Place all the styles related to the attendance controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* reduce the margin on the sides of the title, no need with icon-only buttons */
.ui-header .ui-title
{
	 margin-left: 20%;
	 margin-right: 20%;
}

.attendance-indicator fieldset
{
	 display: inline-block;
}

@media all and (max-width: 550px) /* small screens */
{
	 .only-large-screens { display: none }
	 .only-small-screens { display: inline }

	 .attendance-list-breakpoint.ui-grid-a .ui-block-a,
	 .attendance-list-breakpoint.ui-grid-a .ui-block-b
	 {
		  width: 100%;
		  text-align: center;
		  float: none;
		  clear: left;
	 }
}

@media all and (min-width: 550px) /* large screens */
{
	 .only-large-screens { display: inline }
	 .only-small-screens { display: none }

	 .attendance-list-breakpoint.ui-grid-a .ui-block-a
	 {
	 	  line-height: 38px;
	 }

	 .attendance-list-breakpoint.ui-grid-a .ui-block-b
	 {
		  float: right;
		  width: auto;
	 }
}