// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments-list
{
	list-style: none;
}

.comments-list li
{
	margin: 1em;
	padding: 1em;
	background-color: #eee;
}